@charset "gb2312";
body,dl,dd,h1,h2,h3,h4,h5,h6,p,span{margin:0;padding:0px;}
body{font:12px/1.5 tahoma,Microsoft YaHei,sans-serif;-webkit-tap-highlight-color: rgba(0,0,0,0);background: #f2f2f2}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
img{border: none;padding: 0;margin:0;vertical-align: top;}
em,i,b{font-style:normal}
ul,ol,li{list-style:none;margin:0;padding:0;}
a{text-decoration:none}
a:hover{text-decoration:none}
table{border-collapse:collapse;border-spacing:0}
input,select,option{outline:none}
.tl{text-align: left;}
.tc{text-align: center;}
.fl{float:left;}
.fr{float:right;}
.cb{clear: both}
.bc{margin-left: auto;margin-right: auto}
.pr{position:relative;}
.pa{position:absolute;}
.ovh{overflow:hidden;}
.db{display:block;}
.none{display:none;}
.ht{display:block;overflow:hidden;text-indent:-999em;}
.spr{background: url(http://game.gtimg.cn/images/up/act/a20160318paper/spr.png) no-repeat;background-size: 295px 400px}
/*wraper*/
.wraper{width: 100%;height: 100%;opacity: 0}
.wraper-show{-webkit-animation: opShow .5s linear forwards;}
.container{overflow: hidden;-webkit-backface-visibility:hidden;background: url(../images/bg.jpg) left bottom no-repeat;background-size: 100% 100%;}
.fy-tips{width: 100%;height: 100%;background: url(../images/fanye-tips1.png) left bottom no-repeat;background-size: 100% 100%;z-index: 80;top: 0;left: 0}
.section-box{width: 100%;overflow: hidden;margin: 0 auto}
.section{position: absolute;top: 0;left: 0;display: none}
.z5{z-index: 5;display:block;}
.fy-tips{
	-webkit-animation: fyAni 1s linear forwards infinite alternate;
}
@-webkit-keyframes fyAni{
    0%{ 
        -webkit-transform: translate3d(8px,5px,2px);
    }
    100%{ 
        -webkit-transform: translate3d(0px,0px,0px);
    }
}
.main{
	width: 285px;
	height: 499px;
	position: relative;
	-webkit-transform-origin: 0 0;
}
.main img{
	width: 100%;
	height: 100%
}
.main-1{
	background: url(../images/sec1-bg-none.jpg) center top no-repeat;
	background-size: 285px 499px;	
}
.main-2{
	background: url(../images/sec2-bg-none.jpg) center top no-repeat;
	background-size: 285px 499px;	
}
.main-3{
	background: url(../images/sec3-bg-none.jpg) center top no-repeat;
	background-size: 285px 499px;	
}
.main-4{
	background: url(../images/sec4-bg-none.jpg) center top no-repeat;
	background-size: 285px 499px;	
}
.main-5{
	background: url(../images/sec5-bg-none.jpg) center top no-repeat;
	background-size: 285px 499px;	
}

/*main-1*/
.main-1 .slogan{
	width: 282px;
	height: 233px;
	top: 130px;
	left: 1px;	
	background-size: 282px 233px
}
.main-1 .slogan .slogan-logo{
	opacity: 0;
	width: 150px;
	height: 150px;
	top: 45px;
	left: 50%;
	margin-left: -75px;
	background: url(../images/slogan-logo.png) 0 0 no-repeat;
	background-size: 150px 150px;
}
.main-1 .slogan .slogan-txt1{
	opacity: 0;
	width: 100px;
	height: 15px;
	top: 225px;
	left: 50%;
	margin-left: -50px;
	background: url(../images/slogan-txt1.png) 0 0 no-repeat;
	background-size: 100px 15px;
}
.main-1 .slogan .slogan-txt2{
	opacity: 0;
	width: 100px;
	height: 15px;
	top: 242px;
	left: 50%;
	margin-left: -50px;
	background: url(../images/slogan-txt2.png) 0 0 no-repeat;
	background-size: 100px 15px;
}
.main-1 .slogan .slogan-copyright{
	opacity: 0;
	width: 72px;
	height: 20px;
	top: 285px;
	left: 50%;
	margin-left: -36px;
	background: url(../images/slogan-copyright-white.png) 0 0 no-repeat;
	background-size: 72px 20px;
}
.main-1 .slogan .flower{
	opacity: 0;
	width: 183px;
	height: 115px;
	top: 39px;
	left: 50px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/flower.png) 0 0 no-repeat;
	background-size: 183px 115px;
}
.z5 .main-1 .slogan .flower{
	-webkit-animation: flowerAni 2s linear forwards;
}
.z5 .main-1 .slogan .slogan-logo{
	-webkit-animation: opShow 1s 1s linear forwards;
}
.z5 .main-1 .slogan-box{
	-webkit-animation: sloganboxAni 2s 2s ease-in forwards;
}
.z5 .main-1 .slogan .slogan-txt1{
	-webkit-animation: txtAni 6s linear forwards infinite;
}
.z5 .main-1 .slogan .slogan-txt2{
	-webkit-animation: txtAni 6s linear forwards infinite;
}
.z5 .main-1 .slogan .slogan-copyright{
	-webkit-animation: copyrightAni 6s linear forwards infinite;
}
@-webkit-keyframes sloganboxAni{
    0%{ 
        opacity: 1;
    }
    100%{ 
        opacity: 1; 
    }
}
@-webkit-keyframes txtAni{
    0%{ 
        opacity: 0;
        -webkit-transform:translate(0,5px);
    }
    20%{ 
        opacity: 0;
        -webkit-transform:translate(0,5px);
    }
    40%{ 
        opacity: 1;
        -webkit-transform:translate(0,0);
    }
    60%{ 
        opacity: 1;
        -webkit-transform:translate(0,0);
    }
    80%{ 
        opacity: 1;
        -webkit-transform:translate(0,0);
    }
    100%{ 
        opacity: 0; 
        -webkit-transform:translate(0,0);
    }
}
@-webkit-keyframes copyrightAni{
    0%{ 
        opacity: 0;
        -webkit-transform:translate(0,5px);
    }
    20%{ 
        opacity: 0;
        -webkit-transform:translate(0,,5px);
    }
    40%{ 
        opacity: 0;
        -webkit-transform:translate(0,,5px);
    }
    60%{ 
        opacity: 1;
        -webkit-transform:translate(0,0);
    }
    80%{ 
        opacity: 1;
        -webkit-transform:translate(0,0);
    }
    100%{ 
        opacity: 0; 
        -webkit-transform:translate(0,0);
    }
}
@-webkit-keyframes opShow{
    0%{ 
        opacity: 0;
    }
    100%{ 
        opacity: 1; 
    }
}
@-webkit-keyframes flowerAni{
    0%{ 
        opacity: 0;
        -webkit-transform:scale(0);
    }
    60%{ 
        opacity: 1;
        -webkit-transform:scale(1.1);
    }
    100%{ 
        opacity: 1; 
        -webkit-transform:scale(1);
    }
}
@-webkit-keyframes tAni1{
    0%{ 
        -webkit-transform:translate(0,0);
    }
    100%{ 
        -webkit-transform:translate(-400px,0);
    }
}
@-webkit-keyframes tAni2{
    0%{ 
        -webkit-transform:translate(0,0);
    }
    100%{ 
        -webkit-transform:translate(-400px,0);
    }
}
@-webkit-keyframes tAni3{
    0%{ 
        -webkit-transform:translate(0,0);
    }
    100%{ 
        -webkit-transform:translate(-400px,0);
    }
}
@-webkit-keyframes tAni4{
    0%{ 
        -webkit-transform:translate(0,0);
    }
    100%{ 
        -webkit-transform:translate(-400px,0);
    }
}
@-webkit-keyframes tAni5{
    0%{ 
        -webkit-transform:translate(0,0);
    }
    100%{ 
        -webkit-transform:translate(-400px,0);
    }
}
@-webkit-keyframes tAni6{
    0%{ 
        -webkit-transform:translate(0,0);
    }
    100%{ 
        -webkit-transform:translate(-400px,0);
    }
}
.main-1 .sec-2{
	width: 112px;
	height: 72px;
	top: 367px;
	left: 171px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/pic/sec_1_2.jpg) 0 0 no-repeat;
	background-size: 2016px 72px
}
/*main-2*/
.main-2 .sec-1{
	/*width: 186px;
	height: 174px;
	top: 104px;
	left: 1px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/pic/sec_2_1.jpg) 0 0 no-repeat;
	background-size: 4836px 174px*/
}
.main-2 .sec-2{
	/*width: 91px;
	height: 137px;
	top: 290px;
	left: 193px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/pic/sec_2_2.jpg) 0 0 no-repeat;
	background-size: 2366px 137px*/
}


/*main-4*/
.main-4 .sec-1{
	/*width: 282px;
	height: 76px;
	top: 198px;
	left: 1px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/pic/sec_4_1.jpg) 0 0 no-repeat;
	background-size: 14382px 76px*/
}
.main-4 .sec-2{
	/*width: 90px;
	height: 37px;
	top: 436px;
	left: 1px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/pic/sec_4_2.jpg) 0 0 no-repeat;
	background-size: 360px 37px*/
}
/*main-5*/
.main-5 .sec-1{
	/*width: 80px;
	height: 110px;
	top: 100px;
	left: 107px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/sec_7_1.png) 0 0 no-repeat;
	background-size: 80px 110px;
	opacity: 0;*/
}
.main-5 .sec-2{
/*	width: 40px;
	height: 150px;
	top: 233px;
	left: 120px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/sec_7_2.png) 0 0 no-repeat;
	background-size: 40px 150px;
	opacity: 0;*/
}
.main-5 .sec-3{
	/*width: 200px;
	height: 70px;
	bottom: 20px;
	left: 50%;
	margin-left: -100px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/sec_7_3.png) center bottom no-repeat;
	background-size: 135px 35px;
	opacity: 0;*/
}
.share-tips{
	width: 14px;
	height: 140px;
	top: 2px;
	right: 23px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/share_tips.png) 0 0 no-repeat;
	background-size: cover;
	z-index: 30;
}
.share-bg{
	width: 100%;
	height: 100%;
	top: 0;
	left:0; 
	background: #000;
	opacity: 0.6;
	z-index: 20;
}
.z5 .main-5 .sec-1{
	-webkit-animation: opShow .3s ease-in forwards;
}
.z5 .main-5 .sec-2{
	-webkit-animation: opShow .7s .3s ease-in forwards;
}
.z5 .main-5 .sec-3{
	-webkit-animation: opShow .7s 1s ease-in forwards;
}
@-webkit-keyframes opShow{
    0%{ 
        opacity: 0;
    }
    100%{ 
        opacity: 1; 
    }
}

.loading{font-size: 30px;color: #000;position: absolute;top: 0;left:0;z-index: 999;text-align: center;background: url(../images/bg.jpg) left bottom no-repeat;background-size: 100% 100%;}
.lo-txt{width: 100%;height: 160px;background: url(http://game.gtimg.cn/images/up/act/a20160318paper/loading.png) center 0 no-repeat;background-size: auto 100%;top: 50%;left: -5px;margin-top: -80px;}
.loadTxt{width: 100%;color: #606070;position: absolute;top: -100px;font-size: 30px;left: 0;}


.flip-box{width: 100%;height: 100%;top: 0;left: 0;z-index: 9}