@charset "gb2312";
body,dl,dd,h1,h2,h3,h4,h5,h6,p,span{margin:0;padding:0px;}
body{font:12px/1.5 tahoma,Microsoft YaHei,sans-serif;-webkit-tap-highlight-color: rgba(0,0,0,0);background: #f2f2f2}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
img{border: none;padding: 0;margin:0;vertical-align: top;}
em,i,b{font-style:normal}
ul,ol,li{list-style:none;margin:0;padding:0;}
a{text-decoration:none}
a:hover{text-decoration:none}
table{border-collapse:collapse;border-spacing:0}
input,select,option{outline:none}
.tl{text-align: left;}
.tc{text-align: center;}
.fl{float:left;}
.fr{float:right;}
.cb{clear: both}
.bc{margin-left: auto;margin-right: auto}
.pr{position:relative;}
.pa{position:absolute;}
.ovh{overflow:hidden;}
.db{display:block;}
.none{display:none;}
.ht{display:block;overflow:hidden;text-indent:-999em;}
.spr{background: url(http://game.gtimg.cn/images/up/act/a20160318paper/spr.png) no-repeat;background-size: 295px 400px}
/*wraper*/
.wraper{width: 100%;height: 100%;opacity: 0}
.wraper-show{-webkit-animation: opShow .5s linear forwards;}
.container{overflow: hidden;-webkit-backface-visibility:hidden;background: url(http://game.gtimg.cn/images/up/act/a20160318paper/bg.jpg) left bottom no-repeat;background-size: 100% 100%;}
.fy-tips{width: 100%;height: 100%;background: url(http://game.gtimg.cn/images/up/act/a20160318paper/fanye_tips.png) left bottom no-repeat;background-size: 100% 100%;z-index: 80;top: 0;left: 0}
.section-box{width: 100%;overflow: hidden;margin: 0 auto}
.section{position: absolute;top: 0;left: 0;display: none}
.z5{z-index: 5;display:block;}
.fy-tips{
	-webkit-animation: fyAni 1s linear forwards infinite alternate;
}
@-webkit-keyframes fyAni{
    0%{ 
        -webkit-transform: translate3d(8px,5px,2px);
    }
    100%{ 
        -webkit-transform: translate3d(0px,0px,0px);
    }
}
.main{
	width: 285px;
	height: 499px;
	position: relative;
	/*top: 50%;
	left: 50%;*/
	/*margin-top: -285px;
	margin-left: -142px;*/
	/*-webkit-transform: translate3d(-53%,-50%,0);*/
	-webkit-transform-origin: 0 0;
}
.main img{
	width: 100%;
	height: 100%
}
.main-1{
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/sec_1_none.png) center top no-repeat;
	background-size: 285px 499px;	
}
.main-2{
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/sec_2_none.png) center top no-repeat;
	background-size: 285px 499px;	
}
.main-3{
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/sec_3_none.png) center top no-repeat;
	background-size: 285px 499px;	
}
.main-4{
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/sec_4_none.png) center top no-repeat;
	background-size: 285px 499px;	
}
.main-5{
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/sec_5_none.png) center top no-repeat;
	background-size: 285px 499px;	
}
.main-6{
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/sec_6_none.png) center top no-repeat;
	background-size: 285px 499px;	
}
.main-7{
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/sec_7.png) center top no-repeat;
	background-size: 285px 499px;	
}

/*#sec2-1{	
	background: url("http://game.gtimg.cn/images/up/act/a20160318paper/a_1.jpg") 0 0 no-repeat;
	background-size: 4836px 109px
}
#sec5-1{	
	background: url("http://game.gtimg.cn/images/up/act/a20160318paper/5_1.jpg") 0 0 no-repeat;
	background-size: 9537px 123px
}
#sec5-2{	
	background: url("http://game.gtimg.cn/images/up/act/a20160318paper/5_2.jpg") 0 0 no-repeat;
	background-size: 5943px 75px
}
#sec5-3{	
	background: url("http://game.gtimg.cn/images/up/act/a20160318paper/5_3.jpg") 0 0 no-repeat;
	background-size: 2184px 75px
}*/
/*main-1*/
.main-1 .slogan{
	width: 282px;
	height: 233px;
	top: 130px;
	left: 1px;	
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/sec_1_1.jpg) 0 0 no-repeat;
	background-size: 282px 233px
}
.main-1 .slogan .slogan-logo{
	opacity: 0;
	width: 125px;
	height: 125px;
	top: 15px;
	left: 80px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/slogan_logo.png) 0 0 no-repeat;
	background-size: 125px 125px;
}
.main-1 .slogan .slogan-txt{
	opacity: 0;
	width: 125px;
	height: 80px;
	top: 115px;
	left: 80px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/slogan_txt.png) 0 0 no-repeat;
	background-size: 125px 80px;
}
.main-1 .slogan .slogan-copyright{
	opacity: 0;
	width: 125px;
	height: 38px;
	top: 185px;
	left: 77px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/slogan_copyright.png) 0 0 no-repeat;
	background-size: 125px 38px;
}
.main-1 .slogan .flower{
	opacity: 0;
	width: 183px;
	height: 115px;
	top: 39px;
	left: 50px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/flower.png) 0 0 no-repeat;
	background-size: 183px 115px;
}
.z5 .main-1 .slogan .flower{
	-webkit-animation: flowerAni 2s linear forwards;
}
.z5 .main-1 .slogan .slogan-logo{
	-webkit-animation: opShow 1s 1s linear forwards;
}
.z5 .main-1 .slogan-box{
	-webkit-animation: sloganboxAni 2s 2s ease-in forwards;
}
.z5 .main-1 .slogan .slogan-txt{
	-webkit-animation: txtAni 6s linear forwards infinite;
}
.z5 .main-1 .slogan .slogan-copyright{
	-webkit-animation: copyrightAni 6s linear forwards infinite;
}
@-webkit-keyframes sloganboxAni{
    0%{ 
        opacity: 1;
    }
    100%{ 
        opacity: 1; 
    }
}
@-webkit-keyframes txtAni{
    0%{ 
        opacity: 0;
        -webkit-transform:translate(0,5px);
    }
    20%{ 
        opacity: 0;
        -webkit-transform:translate(0,5px);
    }
    40%{ 
        opacity: 1;
        -webkit-transform:translate(0,0);
    }
    60%{ 
        opacity: 1;
        -webkit-transform:translate(0,0);
    }
    80%{ 
        opacity: 1;
        -webkit-transform:translate(0,0);
    }
    100%{ 
        opacity: 0; 
        -webkit-transform:translate(0,0);
    }
}
@-webkit-keyframes copyrightAni{
    0%{ 
        opacity: 0;
        -webkit-transform:translate(0,5px);
    }
    20%{ 
        opacity: 0;
        -webkit-transform:translate(0,,5px);
    }
    40%{ 
        opacity: 0;
        -webkit-transform:translate(0,,5px);
    }
    60%{ 
        opacity: 1;
        -webkit-transform:translate(0,0);
    }
    80%{ 
        opacity: 1;
        -webkit-transform:translate(0,0);
    }
    100%{ 
        opacity: 0; 
        -webkit-transform:translate(0,0);
    }
}
@-webkit-keyframes opShow{
    0%{ 
        opacity: 0;
    }
    100%{ 
        opacity: 1; 
    }
}
@-webkit-keyframes flowerAni{
    0%{ 
        opacity: 0;
        -webkit-transform:scale(0);
    }
    60%{ 
        opacity: 1;
        -webkit-transform:scale(1.1);
    }
    100%{ 
        opacity: 1; 
        -webkit-transform:scale(1);
    }
}
.main-1 .sec-2{
	width: 112px;
	height: 72px;
	top: 367px;
	left: 171px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/pic/sec_1_2.jpg) 0 0 no-repeat;
	background-size: 2016px 72px
}
/*main-2*/
.main-2 .sec-1{
	width: 186px;
	height: 174px;
	top: 104px;
	left: 1px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/pic/sec_2_1.jpg) 0 0 no-repeat;
	background-size: 4836px 174px
}
.main-2 .sec-2{
	width: 91px;
	height: 137px;
	top: 290px;
	left: 193px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/pic/sec_2_2.jpg) 0 0 no-repeat;
	background-size: 2366px 137px
}


/*main-4*/
.main-4 .sec-1{
	width: 282px;
	height: 76px;
	top: 198px;
	left: 1px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/pic/sec_4_1.jpg) 0 0 no-repeat;
	background-size: 14382px 76px
}
.main-4 .sec-2{
	width: 90px;
	height: 37px;
	top: 436px;
	left: 1px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/pic/sec_4_2.jpg) 0 0 no-repeat;
	background-size: 360px 37px
}

/*main-5*/
.main-3 .sec-1{
	width: 187px;
	height: 109px;
	top: 117px;
	left: 97px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/pic/sec_5_1.jpg) 0 0 no-repeat;
	background-size: 9537px 109px
}
.main-3 .sec-2{
	width: 283px;
	height: 75px;
	top: 232px;
	left: 1px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/pic/sec_5_2.jpg) 0 0 no-repeat;
	background-size: 5660px 75px
}
.main-3 .sec-3{
	width: 90px;
	height: 64px;
	top: 404px;
	left: 1px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/pic/sec_5_3.jpg) 0 0 no-repeat;
	background-size: 2184px 64px
}
.main-3 .dm{
	width: 187px;
	height: 109px;
	top: 117px;
	left: 97px;
	overflow: hidden;
	font-size: 12px;
	color: #3e3d50;
	text-shadow:0 0 2px #fff; 
}
.main-3 .dm span{display: block;position: absolute;}
.main-3 .dm .t-1{
	top: 1px;
	right: -200px;
	width: 200px;
}
.main-3 .dm .t-2{
	top: 18px;
	right: -200px;
	width: 200px;
}
.main-3 .dm .t-3{
	top: 36px;
	right: -200px;
	width: 200px;
}
.main-3 .dm .t-4{
	top: 55px;
	right: -200px;
	width: 200px;
}
.main-3 .dm .t-5{
	top: 70px;
	right: -200px;
	width: 200px;
}
.main-3 .dm .t-6{
	top: 90px;
	right: -200px;
	width: 200px;
}
.z5 .main-3 .dm .t-1{
	-webkit-animation: tAni1 3.5s linear infinite;
}
.z5 .main-3 .dm .t-2{
	-webkit-animation: tAni2 4s 1s linear infinite;
}
.z5 .main-3 .dm .t-3{
	-webkit-animation: tAni3 4.5s 5s linear infinite;
}
.z5 .main-3 .dm .t-4{
	-webkit-animation: tAni4 3.7s 6s linear infinite;
}
.z5 .main-3 .dm .t-5{
	-webkit-animation: tAni5 4.2s 2s linear infinite;
}
.z5 .main-3 .dm .t-6{
	-webkit-animation: tAni6 3.8s 3.6s linear infinite;
}
@-webkit-keyframes tAni1{
    0%{ 
        -webkit-transform:translate(0,0);
    }
    100%{ 
        -webkit-transform:translate(-400px,0);
    }
}
@-webkit-keyframes tAni2{
    0%{ 
        -webkit-transform:translate(0,0);
    }
    100%{ 
        -webkit-transform:translate(-400px,0);
    }
}
@-webkit-keyframes tAni3{
    0%{ 
        -webkit-transform:translate(0,0);
    }
    100%{ 
        -webkit-transform:translate(-400px,0);
    }
}
@-webkit-keyframes tAni4{
    0%{ 
        -webkit-transform:translate(0,0);
    }
    100%{ 
        -webkit-transform:translate(-400px,0);
    }
}
@-webkit-keyframes tAni5{
    0%{ 
        -webkit-transform:translate(0,0);
    }
    100%{ 
        -webkit-transform:translate(-400px,0);
    }
}
@-webkit-keyframes tAni6{
    0%{ 
        -webkit-transform:translate(0,0);
    }
    100%{ 
        -webkit-transform:translate(-400px,0);
    }
}
/*main-5*/
.main-5 .sec-1{
	width: 282px;
	height: 109px;
	top: 136px;
	left: 1px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/pic/sec_6_1.jpg) 0 0 no-repeat;
	background-size: 1692px 109px
}
.main-5 .sec-2{
	width: 91px;
	height: 51px;
	top: 343px;
	left: 192px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/pic/sec_6_2.jpg) 0 0 no-repeat;
	background-size: 2366px 51px
}
.main-5 .sec-3{
	width: 90px;
	height: 64px;
	top: 404px;
	left: 1px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/pic/sec_6_3.jpg) 0 0 no-repeat;
	background-size: 2340px 64px
}
/*main-6*/
.main-6 .sec-1{
	width: 186px;
	height: 120px;
	top: 68px;
	left: 1px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/pic/sec_3_1.jpg) 0 0 no-repeat;
	background-size: 7998px 120px
}
.main-6 .sec-2{
	width: 90px;
	height: 103px;
	top: 289px;
	left: 193px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/pic/sec_3_2.jpg) 0 0 no-repeat;
	background-size: 2340px 103px
}
.main-6 .sec-3{
	width: 91px;
	height: 65px;
	top: 404px;
	left: 1px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/pic/sec_3_3.jpg) 0 0 no-repeat;
	background-size: 4641px 65px
}

/*main-7*/
.main-7 .sec-1{
	width: 80px;
	height: 110px;
	top: 100px;
	left: 107px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/sec_7_1.png) 0 0 no-repeat;
	background-size: 80px 110px;
	opacity: 0;
}
.main-7 .sec-2{
	width: 40px;
	height: 150px;
	top: 233px;
	left: 120px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/sec_7_2.png) 0 0 no-repeat;
	background-size: 40px 150px;
	opacity: 0;
}
.main-7 .sec-3{
	width: 200px;
	height: 70px;
	bottom: 20px;
	left: 50%;
	margin-left: -100px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/sec_7_3.png) center bottom no-repeat;
	background-size: 135px 35px;
	opacity: 0;
}
.share-tips{
	width: 14px;
	height: 140px;
	top: 2px;
	right: 23px;
	background: url(http://game.gtimg.cn/images/up/act/a20160318paper/share_tips.png) 0 0 no-repeat;
	background-size: cover;
	z-index: 30;
}
.share-bg{
	width: 100%;
	height: 100%;
	top: 0;
	left:0; 
	background: #000;
	opacity: 0.6;
	z-index: 20;
}
.z5 .main-7 .sec-1{
	-webkit-animation: opShow .3s ease-in forwards;
}
.z5 .main-7 .sec-2{
	-webkit-animation: opShow .7s .3s ease-in forwards;
}
.z5 .main-7 .sec-3{
	-webkit-animation: opShow .7s 1s ease-in forwards;
}
@-webkit-keyframes opShow{
    0%{ 
        opacity: 0;
    }
    100%{ 
        opacity: 1; 
    }
}

.loading{font-size: 30px;color: #000;position: absolute;top: 0;left:0;z-index: 999;text-align: center;background: url(http://game.gtimg.cn/images/up/act/a20160318paper/bg.jpg) left bottom no-repeat;background-size: 100% 100%;}
.lo-txt{width: 100%;height: 160px;background: url(http://game.gtimg.cn/images/up/act/a20160318paper/loading.png) center 0 no-repeat;background-size: auto 100%;top: 50%;left: -5px;margin-top: -80px;}
.loadTxt{width: 100%;color: #606070;position: absolute;top: -100px;font-size: 30px;left: 0;}


.flip-box{width: 100%;height: 100%;top: 0;left: 0;z-index: 9}



/*.shadow{width: 100%;height: 100%;top: 0;left: 0;z-index: 9;background: url(http://game.gtimg.cn/images/up/act/a20160318paper/shadow.png) right bottom no-repeat;z-index: 10;background-size: cover}*/
